[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
joblib = "*"
tqdm = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
